html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    background: var(--color-light-xl);
    max-width: 1280px;
}
:root {
    --font-h2-size: 44px;
    --font-h3-size: 35px;
    --font-h4-size: 20px;
    --font-h5-size: 15px; 
    --font-logo-size: 32px;
    
    --font-family-G: Georgia, serif;
    --font-color: #C4C4C4;
    --font-weight-400: 400;
    --font-line-h-45: 45px;
    --font-line-h-35:  35px; 
    --font-line-h-115: 115%;
    --font-line-h-24: 24px;
    --font-line-h-23: 23px;
    --font-line-h-17: 17px;
    --font-line-h-57: 57px;
    --font-letter-sp-006: 0.06em;
    
    --font-logo-sub-size: 13px;
    --font-logo-sub-Ar: Arial, sans-serif;
    --font-line-h-logo-sub: 15px;
    --font-letter-sp-logo-sub: 0.1em;

    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
}
h1 {
    margin: 0;
    color: var(--color-primary);
    font-size: var(--font-logo-size);
    font-family: var(--font-family-G);
    line-height: var(--font-line-h-35);
    font-weight: var(--font-weight-400);
    letter-spacing: var(--font-letter-sp-006);
    font-style: normal;
}
h2 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h2-size);
    line-height: var(--font-line-h-57);
    color: var(--color-light-xl);
    padding: 0 150px 42px 0;
    margin: 0;
}
h3 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h3-size);
    line-height: var(--font-line-h-45);
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-l);
    margin: 0;
}
h4 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h4-size);
    line-height: var(--font-line-h-23);
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-l);
    margin: 0;
}
h5 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-17);
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-l);
    margin: 0;
}
.paragraph-l {
    font-family: var(--font-logo-sub-Ar);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-24);
    color: var(--color-dark-xl);
}
.paragraph-s {
    font-family: var(--font-logo-sub-Ar);
    font-style: italic;
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-m);
}


/* Header styles start */

.header_ {
    position: fixed;
    top: auto;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
    background: var(--color-light-xl);
    z-index: 1;
}
h1 {
    margin-bottom: 10px;
    color: var(--color-dark-l);
}
.logo {
    padding-right: 573px;
}
.logo-link {
    color: var(--color-dark-l);
    align-items: center;
    text-decoration: none;
    
}
.logo-subtitle {
    color: var(--color-dark-3xl);
    font-size: var(--font-logo-sub-size);
    font-family: var(--font-logo-sub-Ar);
    font-weight: var(--font-weight-400);
    line-height: var(--font-line-h-logo-sub);
    letter-spacing: var(--font-letter-sp-logo-sub); 
    font-style: normal;
    padding-left: 4px;
}
.nav-menu {
    display: flex;
    padding-top: 16px;
    height: 27px;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0;
    list-style: none;
    gap: 35px;
    padding: 0;
}
.nav-item-activ {
    font-family: var(--font-logo-sub-Ar);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-24);
    color: var(--color-dark-l);
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary);
    align-self: stretch;
}
.nav-link {
    text-decoration: none;
    color: var(--color-dark-l);
    font-family: var(--font-logo-sub-Ar);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-24);
}
.nav-link:hover {
    color: var(--color-dark-3xl);
}

/* Header styles end */

/* Pets styles start */

.pets {
    background: var(--color-light-l);
}
.pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 40px 100px;
}
.heading-pets {
    text-align: center;
    padding-bottom: 45px;
}
.cards_container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 30px;
    column-gap: 40px;
    padding-top: 15px;
    margin-bottom: 60px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover {
    background: var(--color-light-xl);
    cursor: pointer;
}
.card:hover .button-secondary {
    background: #FDDCC4;
    border-radius: 100px;
    cursor: pointer;
}
.pets-card-title {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    padding: 30px 0;
}
.button-secondary {
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
    width: 187px;
    height: 52px;
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: 17px;
    line-height: 22px;
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-3xl);
    margin-bottom: 30px;
}
.button-pets {
    width: 261px;
}
.navigation {
    display: flex;
    gap: 20px;
}
.paginator_inactive {
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid var(--color-dark-s);
    width: 52px;
    height: 52px;
}
.paginator_inactive:disabled {
    cursor: not-allowed;
}
.paginator_active {
    background: var(--color-primary);
    border-radius: 100px;
    border: transparent;
    width: 52px;
    height: 52px;
}
.paginator {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}
.paginator_active:hover {
    cursor: default;
}
.paginator:hover {
    cursor: pointer;
    background: var(--color-primary-light);
    border: var(--color-primary-light);
}

/* Pets styles end */

/* Footer styles start */
footer {
    display: flex;
    background: url(../../assets/images/footer-background.png);
    padding: 40px 40px 0px;
}
.footer-content {
    display: flex;
    flex-direction: row;
    
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    width: 279px;
    padding-top: 16px;
    margin-right: 160px;
}
.mail {
    display: flex;
    padding: 40px 0px;
    color: var(--color-primary);
}
.phone {
    display: flex;
}
.mail-icon,
.phone-icon {
    width: 40px;
    padding-right: 20px;
}
.locations {
    display: flex;
    flex-direction: column;
    margin-right: 165px;
    padding-top: 16px;
}
.boston,
.london {
    display: flex;
}
.boston {
    padding: 34px 0 34px;
}
.icon-marker {
    padding-right: 20px;
}
.footer-h3 {
    color: var(--color-light-xl);
}
.footer-h4 {
    color: var(--color-primary);
}
.link {
    text-decoration: none;
    cursor: pointer;
}
/* Footer styles end */


/* Responsive */
/* For max-width: 768px */

@media (max-width: 1279px) {
    
    /* Header */
    .header_ {
        width: 100vw;
        padding: 30px 30px;
        justify-content: space-between;
    }
    .logo {
        padding-right: 81px;
    }

    /* Our Friends */

    .pets {
        width: 100vw;
    }
    .pets-content {
        padding: 200px 0 76px;
    }
    .heading-pets {
        padding-bottom: 15px;
    }
    .cards_container {
        justify-content: center;
        width: 580px;
        margin-bottom: 40px;
    }
    .card-none {
        display: none;
    }

    /* Footer  */

    footer {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        padding: 33px 0 0;
        background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    }
    .footer-content {
        width: 708px;
        justify-content: center;
        padding-bottom: 53px;
    }
    .footer-contacts {
        padding-top: 0;
        margin-right: 0;
        margin-right: 60px;
    }
    .locations {
        margin-right: 0;
        padding-top: 0;
    }
    .footer-puppy {
        height: 310px;
        width: 300px;
    }
}