html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    max-width: 1280px;
}
:root {
    --font-h2-size: 44px;
    --font-h3-size: 35px;
    --font-h4-size: 20px;
    --font-h5-size: 15px; 
    --font-logo-size: 32px;
    
    --font-family-G: Georgia, serif;
    --font-color: #C4C4C4;
    --font-weight-400: 400;
    --font-line-h-45: 45px;
    --font-line-h-35:  35px; 
    --font-line-h-115: 115%;
    --font-line-h-24: 24px;
    --font-line-h-23: 23px;
    --font-line-h-17: 17px;
    --font-line-h-57: 57px;
    --font-letter-sp-006: 0.06em;
    
    --font-logo-sub-size: 13px;
    --font-logo-sub-Ar: Arial, sans-serif;
    --font-line-h-logo-sub: 15px;
    --font-letter-sp-logo-sub: 0.1em;

    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
}
h1 {
    margin: 0;
    color: var(--color-primary);
    font-size: var(--font-logo-size);
    font-family: var(--font-family-G);
    line-height: var(--font-line-h-35);
    font-weight: var(--font-weight-400);
    letter-spacing: var(--font-letter-sp-006);
    font-style: normal;
}
h2 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h2-size);
    line-height: var(--font-line-h-57);
    color: var(--color-light-xl);
    padding: 0 150px 42px 0;
    margin: 0;
}
h3 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h3-size);
    line-height: var(--font-line-h-45);
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-l);
    margin: 0;
}
h4 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h4-size);
    line-height: var(--font-line-h-23);
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-l);
    margin: 0;
}
h5 {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-17);
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-l);
    margin: 0;
}
.paragraph-l {
    font-family: var(--font-logo-sub-Ar);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-24);
    color: var(--color-dark-xl);
}
.paragraph-s {
    font-family: var(--font-logo-sub-Ar);
    font-style: italic;
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-m);
}


/* Header styles start */

.start-screen {
    max-width: 1280px;
    background: url(../../assets/images/start-screen-background.jpg); 
    
}
.header_ {
    display: flex;
    flex-direction: row;
    padding: 60px 40px 60px 40px;
    height: 60px;
}
h1 {
    margin-bottom: 10px;
}
.logo {
    padding-right: 573px;
}
.logo-link {
    color: var(--color-primary);
    align-items: center;
    text-decoration: none;
    
}
.logo-subtitle {
    color: var(--color-light-xl);
    font-size: var(--font-logo-sub-size);
    font-family: var(--font-logo-sub-Ar);
    font-weight: var(--font-weight-400);
    line-height: var(--font-line-h-logo-sub);
    letter-spacing: var(--font-letter-sp-logo-sub); 
    font-style: normal;
    padding-left: 4px;
}
.nav-menu {
    display: flex;
    padding-top: 16px;
    height: 27px;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0;
    list-style: none;
    gap: 35px;
    padding: 0;
}
.nav-item-activ {
    font-family: var(--font-logo-sub-Ar);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-24);
    color: var(--color-light-s);
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary);
}
.nav-link {
    text-decoration: none;
    color: var(--color-dark-s);
    font-family: var(--font-logo-sub-Ar);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-24);
}
.nav-link:hover {
    color: var(--color-light-s);
}

/* Header styles end */     

/* Start-screen styles start */

.start-screen-content {
    display: flex;
    padding: 0 40px;
    height: 728px;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 163px 42px 243px 0px;
    align-items: flex-start;
    height: 322px;
}

.subheading {
    font-family: var(--font-logo-sub-Ar);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-h5-size);
    line-height: var(--font-line-h-24);
    color: var(--color-dark-s);
    padding-bottom: 42px;
}
.button-primary {
    text-decoration: none;
    width: 207px;
    height: 52px;
    background: var(--color-primary);
    border-radius: 100px;
    border: var(--color-primary);
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: 17px;
    line-height: 22px;
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-3xl);
    
}
.button-primary:hover {
    background: var(--color-primary-light);
    cursor: pointer;
}

/* Start-screen styles end */

/* About styles start */
.about {
    background: var(--color-light-xl);
}
.about-box {
    display: flex;
    flex-direction: row ;
    padding: 80px 40px 100px;
}
.about-pets {
    padding-left: 175px;
    width: 300px;   
}
.content-about {
    display: flex;
    flex-direction: column;
    padding: 14px 157px 14px 120px;
    gap: 25px;
    width: 430px;
}

/* About styles end */

/* Pets styles start */

.pets {
    display: flex;
    background: var(--color-light-l);
}
.pets-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 40px 100px;
}
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-arrow {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
}
.button-arrow:hover {
    background: var(--color-primary-light);
    border-radius: 100px;
    border: var(--color-primary-light);
    cursor: pointer;
}
.arrow {
    color: var(--color-dark-3xl);
    width: 14px;
    height: 6px;
}
.cards {
    display: flex;
    gap: 90px;
    padding: 60px 53px 60px;  
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover {
    background: var(--color-light-xl);
    cursor: pointer;
}
.card:hover .button-secondary {
    background: #FDDCC4;
    border-radius: 100px;
    cursor: pointer;
}
.pets-card-title {
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    padding: 30px 0;
}
.button-secondary {
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
    width: 187px;
    height: 52px;
    font-family: var(--font-family-G);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: 17px;
    line-height: 22px;
    letter-spacing: var(--font-letter-sp-006);
    color: var(--color-dark-3xl);
    margin-bottom: 30px;
}
.button-pets {
    width: 261px;
}

/* Pets styles end */

/* Help styles start */

.help {
    background: var(--color-light-xl);
    display: flex;
}
.help-content {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.list {
    display: flex;
    flex-flow: row wrap;
    
    padding: 60px 87px 0px;
}
.list-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 119px;
    padding-bottom: 55px;
    height: 113px;
}
.list-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 113px;
    gap: 119px;
    padding: 0px 84px;
}
.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-list {
    height: 60px;
}
.pet-food-text,
.transportation-text,
.toys-text,
.bowls-and-cups-text,
.shampoos-text,
.vitamins-text,
.medicines-text,
.collars-leashes-text,
.sleeping-area-text {
    padding-top: 30px;
}

/* Help styles end */

/* Donation styles start */

.donation {
    background: var(--color-light-l);
    display: flex;
}
.donation-box {
    display: flex;
    padding: 80px 182px 100px 183px;
}
.donation-dog {
    padding-top: 11px;
    height: 261px;
}
.content-donation {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.name-bank {
    padding: 20px 0 20px;
    align-items: center;
}
.credit-card {
    display: flex;
    background: var(--color-primary);
    border-radius: 9px;
    padding: 10px 15px;
    width: 320px;
}
.credit-card:hover {
    cursor: pointer;
    background: var(--color-primary-light);
}
.credit-card-img {
    padding-right: 15px;
}
.card-link {
    text-decoration: none;
}
.donation-description {
    font-family: var(--font-logo-sub-Ar);
    font-style: italic;
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-m);
    padding-top: 20px;
}
/* Donation styles end */

/* Footer styles start */
footer {
    display: flex;
    background: url(../../assets/images/footer-background.png);
    padding: 40px 40px 0px;
}
.footer-content {
    display: flex;
    flex-direction: row;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    width: 279px;
    padding-top: 16px;
    margin-right: 160px;

}
.mail {
    display: flex;
    padding: 40px 0px;
    color: var(--color-primary);
}
.phone {
    display: flex;
}
.mail-icon,
.phone-icon {
    width: 40px;
    padding-right: 20px;
}
.locations {
    display: flex;
    flex-direction: column;
    margin-right: 165px;
    padding-top: 16px;
}
.boston,
.london {
    display: flex;
}
.boston {
    padding: 34px 0 34px;
}
.icon-marker {
    padding-right: 20px;
}
.footer-h3 {
    color: var(--color-light-xl);
}
.footer-h4 {
    color: var(--color-primary);
}
.link {
    text-decoration: none;
    cursor: pointer;
}
/* Footer styles end */


/* Responsive For max-width: 768px */

@media (min-width: 768px) and (max-width: 1280px) {
    
    /* Header */

    .start-screen {
        max-width: 100vw;
        background: url(../../assets/images/start-screen-background-small.png);
    }
    .header_{
        padding: 30px 30px 60px;
    }
    .logo {
        padding-right: 81px;
    }

    /* Start-screen */

    .start-screen-content {
        max-width: 100vw;
        flex-direction: column;
        padding: 0 100px 0 99px;
        height: 1015px;
    }
    .content {
        display: flex;
        padding: 0 55px 100px;
        align-items: center;
    }
    .start-screen-header {
        display: flex;
        justify-content: flex-start;
    }
    .start-screen-pappy {
        padding-right: 30px;
    }
    .screen-pappy {
        width: 569px;
        height: 593px;
    }

    /* About  */

    .about-box {
        flex-direction: column-reverse;
        align-items: center;
        padding: 80px 166px 100px 165px;
    }
    .content-about {
        padding: 0 4px 80px;
        justify-content: center;
    }
    .about-header {
        display: flex;
        justify-content: flex-start;
    }
    .about-pets {
        padding: 0;
    }

    /* Our friends */

    .pets-content {
        padding: 80px 30px 100px;
        overflow: hidden;
    }
    .slider {
        width: 708px;
        height: 435px;
        padding: 60px 0px;
    }
    .cards {
        position: absolute;
        justify-content: space-around;
        gap: 35px;
        padding: 60px 68px 60px; 
    }
    .card-slide {
        display: none;
    }

    /* Help */

    .help {
        max-width: 100vw;
    }
    .help-content {
        padding: 80px 69px 100px;
    }
    .list {
        padding: 60px 0 0;
    }
    .list-1 {
        width: 100%;
    }

    /* Donation */

    .donation {
        width: 100vw;
    }
    .donation-box {
        flex-direction: column-reverse;
        padding: 0;
    }
    .content-donation {
        width: 380px;
        padding: 80px 194px 50px;
        justify-content: center;
    }
    .donation-dog {
        padding: 0 131px 100px;
    }

    /* Footer  */

    footer {
        width: 100vw;
        flex-direction: column;
        padding: 0;
        background: url(../../assets/images/start-screen-background-small.png);
    }
    .footer-content {
        justify-content: center;
        padding: 30px 30px 65px;
    }
    .footer-puppy {
        height: 310px;
        width: 300px;
    }
    .footer-contacts {
        margin-right: 60px;
        width: 278px;
    }
    
}